
$_columns: 18;		// 18 columns * 55px = 990px fullwidth
$_column-width: 45px;
$_gutter: 10px;
$fontawesome-span2-box-sizing: content-box !Default;

$default-box_sizing_type: border-box !Default;
$default-border-radius: 7px !Default;  
$default-padding: 20px !Default;
$default_padding-inside: 15px !Default;

$height-triBlock: auto !Default;
$height-leftnav: 100% !Default;

$columns-leftnav: 4 !Default;
$columns-maincontent: 14 !Default;

$info-border_color: #0069aa !Default;
$info-border_width: 8px !Default;
$info-background_color: #d6f0f6 !Default; 


$color_default-border: #d3d3d3 !Default;
$color_default-ButtonAsLink: #003E7E;
$color_indicator-seperator: #d14e00 !Default;
$color_background-button: #0169A8 !Default;
$color_default-black: #000 !Default;
$color_background-info: #d6f0f6 !Default;